@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.ttf') format('truetype');
}